*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home {
    /* background: url(100by99.png) no-repeat left; */
    background-size: 55%;
    background-color: #fff;
    overflow: hidden;
    padding: 30px 0;
}
.container {
    width: 55%;
    float: right;
    background: linear-gradient(135deg, #EC7272, #C3FF99);
    padding: 150px;
    border-radius: 10px;
}
.container h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}
.container p {
    font-size: 17px;
    font-weight: 600;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.option a{
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #EC7272, #C3FF99);
    transition: 0.3s;
}
.option a:hover {
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(135deg, #C3FF99, #EC7272);
}
/*ICONS */
.icon {
    display: flex;
    justify-content: center;
}
.icon a {
    display: flex;
    background: #fff;
    height: 75px;
    width: 75px;
    margin: 50px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
                -6px -6px 10px -1px rgba(255, 255, 255, .7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform .5s;
}
.icon a i{
    font-size: 35px;
    color: #777;
    transition: transform .5s;
}
.icon a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, .7),
                -.5px -.5px  0px rgba(255, 255, 255, 1),
                .5px .5px 0px  rgba(0, 0, 0, .15),
                0px 12px 10px -10px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .01);
    transform: translateY(2px);

}
.icon a:hover i {
    transform: scale(.90);
}
.icon a:hover .fa-facebook-f {
    color: #3b5998;
}
.icon a:hover .fa-google {
    color: #00acee;
}
.icon a:hover .fa-youtube {
    color: #ff0000;
}
.icon a:hover .fa-linkedin-in {
    color: #0e76a8;
}
.icon a:hover .fa-github {
    color: #000;
}
.icon a:hover .fa-instagram {
    color: #e1306c;
}

@media screen and (max-width:1200px) {
    .container {
        padding: 80px;

    }
}
@media screen and (max-width:1000px) {
    .home {
        background-size: 100%;
        padding: 100px 40px;
    }
    .container {
        width: 100%; 
    }
    
}
@media screen and (max-width:600px) {
    .home {
        padding: 0;
    }
    .container {
        padding: 60px;
    }
    .option {
        flex-direction: column;
        align-items: center;
    }
    .option a {
        margin-bottom: 20px;
    }
    .icon a{
        margin: 20px 5px;
    }
    
}